[Unit]
Description=inotifywait folder watch service

[Service]
Type=simple
ExecStart=/bin/bash /usr/local/bin/folderwatch/folderwatch.sh /etc/folderwatch/folderwatch.conf
Restart=always

[Install]
WantedBy=default.target